<div class="page-sidebar navbar-collapse collapse">
  <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" [ngClass]="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
    <li class="sidebar-search-wrapper">
      <form class="sidebar-search sidebar-search-bordered" action="#" method="POST">
        <a href="javascript:;" class="remove">
          <i class="icon-close"></i>
        </a>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search..." ng-model="textSearch">
          <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit">
                            <i class="icon-magnifier"></i>
                        </a>
                    </span>
        </div>
      </form>
    </li>
    <li class="nav-item" *ngFor="let menu of menuService.getMenuConfig('left')" >
      <a *ngIf="menu.Children == null || menu.Children.length == 0" [routerLink]="menu.Route ? menu.Route : null">
        <i *ngIf="menu.IconClass != null" class="{{ menu.IconClass }}"></i>
        <img *ngIf="menu.IconSource != null" alt="" src="{{menu.IconSource}}">
        <span class="title">{{menu.Name}}</span>
      </a>

      <a *ngIf="!(menu.Children == null || menu.Children.length == 0)" class="nav-link nav-toggle" >
        <i *ngIf="menu.IconClass != null" class="{{ menu.IconClass }}"></i>
        <img *ngIf="menu.IconSource != null" alt="" src="{{menu.IconSource}}">
        <span class="title">{{menu.Name}}</span>
        <span class="arrow"></span>
      </a>

      <ul class="sub-menu"  *ngIf="menu.Children != null && menu.Children.length > 0" [metronic-submenu2]="menu.Children"  style="display:inline !important;">
      </ul>
    </li>

  </ul>
</div>
